@import "tailwindcss";



/* Floating circles animation */
@keyframes bounce-slow {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-30px); }
}

.animate-bounce-slow {
  animation: bounce-slow 6s ease-in-out infinite;
}



/* index.css */
.quiz-bg {
  /* @apply min-h-screen flex flex-col items-center p-6; */
  background: repeating-linear-gradient(
    45deg,
    #e0f2fe,
    #e0f2fe 20px,
    #f3e8ff 20px,
    #f3e8ff 40px
  );
}