@import "tailwindcss";



/* Floating circles animation */
@keyframes bounce-slow {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-30px); }
}

.animate-bounce-slow {
  animation: bounce-slow 6s ease-in-out infinite;
}